@import '~antd/dist/antd.css';
* {
  /* 初始化 */
  margin: 0;
  padding: 0;
}
body {
  background-color: rgba(0, 0, 0, 0);
  /* -webkit-user-select: none;
	-webkit-app-region: drag; */
}
.container {
  width: 100%;
  height: 100vh;
  border-radius: 10px;
  background: linear-gradient(200deg, #72afd3, #96fbc4);
  overflow: hidden;
  position: relative;
}
.header {
  display: flex;
  justify-content: flex-end;
  height: 30px;
  -webkit-app-region: no-drag;
}
.closeIcon,
.narrow {
  padding: 7px;
  font-size: 16px;
  color: #fff;
}
.closeIcon:hover {
  background-color: rgb(255, 84, 87);
  color: #fff;
}
.narrow:hover {
  background-color: rgb(220, 161, 228);
  color: #fff;
}

.content {
  padding: 0 5px;
  height: calc(100% - 84px);
}
.menu {
  height: calc(100% - 45px);
  overflow: hidden;
}
.leftMenu {
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  color: #fff;
  font-size: 14px;
  /* 弹性布局 垂直排列 */
  display: flex;
  flex-direction: column;
  /* 设置过渡 */
  transition: 0.5s ease;
  /* 不让文字换行 */
  white-space: nowrap;
}
.menuItem {
  height: 47px;
  /* 弹性布局 垂直居中 */
  display: flex;
  align-items: center;
  /* padding-left: 12px; */
  border-radius: 10px;
  padding: 10px 0 10px 12px;
  cursor: pointer;
  /* 过渡 */
  transition: 0.3s;
}
.menuItemActive {
  background-color: rgba(255, 255, 255, 0.65);
}
.menuItem:hover {
  background-color: rgba(255, 255, 255, 0.65);
}

.rightMenu {
  border-left: 1px solid rgba(0, 0, 0, 0.05);
}

.songItem {
  height: 40px;
  color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

/* ============== */
.equalizer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
  margin-top: 4rem;
}

.equalizer-bar {
  width: 1.8rem;
  margin: 0 3px;
  display: flex;
  flex-direction: column-reverse;
}
.equalizer-bar span {
  display: block;
  height: 4px;
  border-radius: 2px;
  width: 100%;
  margin: 2px 0;
  background-color: #fff;
  transition: 0.2s ease all;
  opacity: 1;
}
.equalizer-bar:nth-child(1) span {
  background: #fc0127;
}
.equalizer-bar:nth-child(2) span {
  background: #fb0275;
}
.equalizer-bar:nth-child(3) span {
  background: #b50cd3;
}
.equalizer-bar:nth-child(4) span {
  background: #6407e9;
}
.equalizer-bar:nth-child(5) span {
  background: #2a06a9;
}
.equalizer-bar:nth-child(6) span {
  background: #080ad7;
}
.equalizer-bar:nth-child(7) span {
  background: #0265e2;
}
.equalizer-bar:nth-child(8) span {
  background: #03fcfc;
}
.equalizer-bar:nth-child(9) span {
  background: #02fe46;
}
.equalizer-bar:nth-child(10) span {
  background: #05fb0f;
}
.equalizer-bar:nth-child(11) span {
  background: #97f611;
}
.equalizer-bar:nth-child(12) span {
  background: #f5e506;
}
.equalizer-bar:nth-child(13) span {
  background: #d7a414;
}
.equalizer-bar:nth-child(14) span {
  background: #fc6b02;
}
.equalizer-bar:nth-child(15) span {
  background: #df1506;
}

.footer {
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: 0;
}
